* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;     /* stack top-to-bottom instead of side-by-side */
    align-items: center;        /* keep them centered horizontally */
    justify-content: center;    /* center vertically if you want */
    min-height: 100vh;
    font-family: "JetBrains Mono", monospace;
    font-size: 24px;
    color: darkslategray;
    margin: 0;
}

button, input, select, textarea {
  font: inherit;
  color: inherit;
}

#fields {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}


#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 640px;
    height: 640px;
}

button {
    width: 160px;
    height: 160px;
    border: 1px solid #ddd;
}

#zero {
    margin: 0px 0px 0px 160px; /* top right bottom left */
    grid-column: span 2;
}
.hover {
    background-color: rgba(17, 17, 17, 0.05); /* 5% opaque black overlay */
}