* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;     /* stack top-to-bottom instead of side-by-side */
    align-items: center;        /* keep them centered horizontally */
    justify-content: center;    /* center vertically if you want */
    min-height: 100vh;
    margin: 0;
}

#fields {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}


#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 640px;
    height: 640px;
}

button {
    width: 160px;
    height: 160px;
    border: 1px solid #ddd;
}

#clear {
    width: 320px;
    grid-column: span 2;
}

#zero {
    margin: 0px 160px 0px 160px; /* top right bottom left */
    grid-column: span 3;
}
.hover {
    background-color: #111;
    opacity: .05;
}