* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
}

.square {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
}